.App {
  text-align: center;
  padding: 20px;
}

.App h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.App form {
  display: flex;
  margin-bottom: 20px;
}

.App form input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
}

.App form button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.App ul {
  list-style: none;
  padding: 0;
}

.App ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.App ul li input[type="checkbox"] {
  margin-right: 10px;
}

.App ul li button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 10px;
}

.alert {
  background-color: #4CAF50; /* Warna hijau untuk alert sukses */
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}